.Nav {
  height: 80px;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
@media screen and (max-width: 960px){
  .Nav {
    transition: 0.8s all ease;
  }
}
.NavBg {
  background: transparent;
}
.ScrollNav {
  background: #000;
}
.Nav.MoviesNav {
  background: #ccc;
  margin-top: 0;
}
.NavbarContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
}

.NavLogo {
  color: #fff;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
}
.favoritesIcon{
  color:#01bf71;
}
.favoritesIcon:hover{
  color:#fff;
}

.MobileIcon {
  display: none;
}

@media screen and (max-width: 768px){
  .MobileIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
}

.NavMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}

@media screen and (max-width: 768px) {
  .NavMenu {
    display: none
  }
}

.NavItem {
  height: 80px;
}

.NavLinks {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.NavLinks.active {
  border-bottom: 3px solid #01bf71;
}

.NavBtn {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px){
  .NavBtn {
    display: none;
  }
}

.NavBtnLink {
  border-radius: 50px;
  background: #01bf71;
  white-space: nowrap;
  margin-right: 30px;
  padding: 10px 25px;
  width: 115px;
  color: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.NavBtnLink:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}
@media screen and (max-width: 768px) {
  #MoviesNav {
    display: block
  }
}
.username{
  padding-top: 10px;
}
.username:hover {
  color: #eee
}
#NavButton{
  margin-left: 5px
}